extends layout

block content
	.inner
		form.form(method="POST") <!-- no action means form will post to URL it is already on ;) -->
			h2 Reset Your Password
			label(for="password") Password
			input(type="password" name="password")
			label(for="password-confirm") Confirm Password
			input(type="password" name="password-confirm")
			input(type="submit" value="Reset Password →")
